<h1>Seja bem vindo</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<p> Seu nome ao contrário é: <%= "Jackson".reverse %> </p>

<p> A data de hoje é <%= data_br(Date.today)%> </p>

<%= render "menu" %>

<p> Você está em <%= ambiente_rails %> </p>